@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

$primary-color-1: hsl(0, 0%, 63%);
$primary-color-2: hsl(0, 0%, 0%);
$primary-color-3: hsl(0, 0%, 100%);
$primary-color-4: hsl(0, 0%, 27%);

$primary-font: 'Spartan', sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@media screen and (prefers-reduced-motion: no-preference) {
  .fade {
    animation-name: fade;
    animation-duration: 1.25s;
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@mixin media-md {
  @media screen and (min-width: 501px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 769px) {
    @content;
  }
}
